@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    /*Jobs.tsx*/
    .wrap {
        @apply flex justify-center items-center flex-col bg-[#F5F5F5];
    }

    .jobsContainer {
        @apply container mt-7 w-[1400px] flex flex-col gap-y-2 font-sans
        md:w-[396px];
    }

    /*Job.tsx*/
    .jobItem {
        @apply container flex flex-row items-center px-6 py-4 gap-x-7 w-full h-[164px] bg-white rounded-lg shadow-item-shadow
        md:h-[206px] md:bg-[#EFF0F5];
    }

    .jobImage {
        @apply w-[85px] h-[85px] min-w-fit self-start
        md:w-[66px] md:h-[66px] md:mt-14;
    }

    .jobImage > img {
        @apply w-[85px] h-[85px] rounded-full
        md:w-[66px] md:h-[66px];
    }

    .jobInfoContainer {
        @apply flex flex-row items-center gap-x-7 h-full
        md:flex-col md:items-start md:justify-start md:gap-y-3.5;
    }

    .jobMainInfo {
        @apply w-[960px] p-0 flex flex-col items-start gap-y-2 order-1
        md:order-2 md:w-full md:gap-y-1;
    }

    .jobMainInfo_title {
        @apply w-4/5 p-0 font-bold text-xl tracking-[-0.625px] text-dark
        md:w-full md:max-h-[48px] md:font-normal md:text-base
        md:truncate md:text-ellipsis md:whitespace-normal;
    }

    .jobMainInfo_company,
    .jobMainInfo_address {
        @apply font-normal text-base tracking-[0.23619px] text-secondary
        md:text-sm;
    }

    .jobMainInfo_address > span {
        @apply ml-3;
    }

    .jobSecondaryInfo {
        @apply flex flex-row items-center justify-between gap-x-7 h-full order-2
        md:order-1 md:gap-0 md:items-start md:h-fit;
    }

    .jobRating {
    }

    .jobServiceInfo {
        @apply h-full flex flex-col justify-between items-end
        md:h-fit;
    }

    .bookmark {
        @apply md:hidden;
    }

    .jobServiceInfo_createAt > p {
        @apply p-0 m-0 text-end last:hidden;
    }

    /*Pagination*/
    .wrap > div.pagination {
        @apply bg-white rounded-xl mt-12 mb-16 text-dark font-bold
        md:bg-[#F9FAFD];
    }

    .wrap > div.pagination > div > div > div > button {
        @apply text-dark font-bold;
    }

    /*JobDetails*/
    .singleJobContainer {
        @apply container mx-auto w-[1400px] mt-14 flex justify-start gap-x-20 text-dark;
    }

    .jobDetailsContainer {
        @apply w-[774px] flex flex-col p-4;
    }

    .jobDetailsHeader {
        @apply relative;
    }

    .jobDetailsTitle {
        @apply font-bold text-[28px] p-0 m-0 pb-2 border-solid border-b border-secondary;
    }

    .jobDetailsBookmark {
        @apply absolute right-0 bottom-3 flex flex-row gap-x-8;
    }

    .bookmark > span {
        @apply ml-2;
    }

    .btnApply {
        @apply mt-9;
    }

    .jobDetailsPart1 {
        @apply flex flex-row justify-between mt-8;
    }

    .jobDetailsPart1 > .part1 {
        @apply w-3/4 flex flex-col gap-y-2;
    }

    .jobDetailsName {
        @apply text-2xl font-bold;
    }

    .jobDetailsText {
        @apply font-roboto font-normal text-lg p-0 m-0;
    }

    .jobDetailsCreatedAt {
        @apply text-secondary;
    }

    .jobDetailsBoldText {
        @apply font-roboto font-bold text-xl p-0 m-0;
    }

    .jobDetailsSalary {
        @apply flex flex-col;
    }

    .jobDetailsSalary > p {
        @apply first:order-1 last:order-2;
    }

    .jobDetailsPart2 {
        @apply flex flex-col gap-y-5 mt-2;
    }

    .jobDetailsPart2 ul {
        @apply list-outside list-square
        md:list-inside;
    }

    .jobDetailsAdditional,
    .jobDetailsAttached {
        @apply mt-20;
    }

    .addInfo {
        @apply mt-4 mb-1.5;
    }

    .addInfo > div {
        @apply flex gap-x-2 flex-wrap mt-[10px];
    }

    .jobDetailsEmployment {
        @apply w-[220px] h-[50px]
        font-bold text-base text-employment-text text-center leading-[50px]
        bg-employment-btn border border-solid border-employment-btn-border rounded-lg;
    }

    .jobDetailsBenefits {
        @apply w-[220px] h-[50px]
        font-bold text-base text-benefits-text text-center leading-[50px]
        bg-benefits-btn border border-solid border-benefits-btn-border rounded-lg;
    }

    .jobDetailsImg {
        @apply mt-4 h-[115px] flex gap-x-2;
    }

    .jobDetailsImg > img {
        @apply w-[200px] rounded-lg object-cover object-center;
    }

    .map {
        @apply rounded-lg;
    }

}